.main {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh; */
}

.carousel {
  width: 100vw;
  height: 40vh;
}

.contentArea {
  width: 100%;
  padding: 0 10%;
  margin-top: -5rem;
}

.infoSection {
  margin: 2rem 0;
  position: relative;
  width: 100%;
  height: 80vh;
}

.infoImage {
  position: relative;
  object-fit: scale-down;
}

.logoArea {
  margin-top: 2rem;
  position: relative;
  width: 100vw;
  height: 8vh;
}

.logoImage {

}

@media screen and (max-width: 500px){
  .infoSection {
    height: 60vh;
  }
}

@media screen and (max-width: 780px){
  .contentArea {
    padding: 0 5%;
  }
}

@media screen and (max-height: 800px){
  .carousel {
    width: 100vw;
    height: 50vh;
  }  
}