.main {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh; */
}

.carousel {
  width: 100vw;
  height: 40vh;
}

.contentArea {
  width: 100%;
  padding: 0 10%;
  margin-top: -5rem;
}

.infoSection {
  margin-top: 1rem;
  position: relative;
  width: 100vw;
  height: 80vh;
  margin-bottom: 1rem;
}

.logoArea {
  margin-top: 2rem;
  position: relative;
  width: 100vw;
  height: 8vh;
}

.logoImage {

}

.infoImage {
}

@media screen and (max-width: 780px){
  .contentArea {
    padding: 0 5%;
  }
}

@media screen and (max-height: 800px){
  .carousel {
    width: 100vw;
    height: 50vh;
  }  
}