.contentPartners {
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: var(--primary-color);
}

.title {
    text-align: center;
    font-weight: 700;
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.partnersArea {
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.partner {
    position: relative;
    margin: 0.8rem;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: default;
    transition: 0.1s;
}

.partner:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.imagePartner {
    position: relative;
    width: 100%;
    max-width: 10rem;
    height: auto;
    max-height: 10rem;
}

@media  screen and (max-width: 780px) {
    .partnersArea {
        padding: 0 5%;
    }    
}
@media  screen and (max-width: 500px) {
    .partner {
        width: 60vw;
        text-align: center;
    }
    .imagePartner {
        max-width: 60vw;
        max-height: 60vw;
    }
}