.containerTitle{
    width: 100%;
    display: flex;
    margin-top: 2rem;
    align-items: center;
}

.title {
    color: #243A6A;
    font-weight: 800;
    font-size: 2.3rem;
    max-width: 40%;
    margin-right: 2rem;
}

.description {
    color: #243A6A;
}

@media  screen and (max-width: 780px) {
    .containerTitle{
        display: flex;
        flex-direction: column;
    }
    .title {
        max-width: 100%;
        margin-bottom: 1rem;
    }
}